@font-face {
    font-family: 'HV Philosykos';
    src: url('../../font/philosykos/HVPhilosykos-Regular.woff2') format('woff2'),
        url('../../font/philosykos/HVPhilosykos-Regular.woff') format('woff'),
        url('../../font/philosykos/HVPhilosykos-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Mirage';
    src: url('../../font/mirage/MADEMirage.woff2') format('woff2'),
        url('../../font/mirage/MADEMirage.woff') format('woff'),
        url('../../font/mirage/MADEMirage.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Mirage';
    src: url('../../font/mirage/MADEMirage-Medium.woff2') format('woff2'),
        url('../../font/mirage/MADEMirage-Medium.woff') format('woff'),
        url('../../font/mirage/MADEMirage-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Mirage';
    src: url('../../font/mirage/MADEMirage-Bold.woff2') format('woff2'),
        url('../../font/mirage/MADEMirage-Bold.woff') format('woff'),
        url('../../font/mirage/MADEMirage-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Mirage';
    src: url('../../font/mirage/MADEMirage-Black.woff2') format('woff2'),
        url('../../font/mirage/MADEMirage-Black.woff') format('woff'),
        url('../../font/mirage/MADEMirage-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Mirage';
    src: url('../../font/mirage/MADEMirage-Thin.woff2') format('woff2'),
        url('../../font/mirage/MADEMirage-Thin.woff') format('woff'),
        url('../../font/mirage/MADEMirage-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

.font-titulo {
    font-family: 'HV Philosykos', sans-serif;
}

.font-base {
    font-family: var(--bs-font-family-base) !important;
}

.line-height-0 {
    line-height: 20px !important;

    @media only screen and (min-width: 1200px) {
        line-height: 34px !important;
    }
}

.fs-1-lg {
    font-size: 76px !important;
}

.fs-2-lg {
    font-size: 48px !important;
}

.fs-2-md {
    font-size: 44px !important;
}

.fs-3 {
    font-size: 32px !important;
}

.fs-4 {
    font-size: 28px !important;
}

.fs-6 {
    font-size: 20px !important;
}

.fs-6-md {
    font-size: 18px !important;
}

.fs-p-md {
    font-size: 14px !important;
}

.fs-p-xxl {
    font-size: 12px !important;
}

.fs-p-lg {
    font-size: 14px !important;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.letter-spacing-8 {
    letter-spacing: 8px;
}

@media only screen and (min-width: 1200px) {
    .fs-xl-lg-1 {
        font-size: 150px !important;
    }

    .fs-xl-md-1 {
        font-size: 86px !important;
    }

    .fs-xl-sm-1 {
        font-size: 72px !important;
    }

    .fs-xl-2 {
        font-size: 54px !important;
    }

    .fs-xl-lg-2 {
        font-size: 48px !important;
    }

    .fs-xl-md-2 {
        font-size: 40px !important;
    }

    .fs-xl-3 {
        font-size: 32px !important;
    }

    .fs-xl-4 {
        font-size: 28px !important;
    }

    .fs-xl-5 {
        font-size: 24px !important;
    }

    .fs-xl-6 {
        font-size: 20px !important;
    }

    .fs-xl-p {
        font-size: 16px !important;
    }

    .fs-p-lg {
        font-size: 14px !important;
    }

    .fs-p-small {
        font-size: 12px !important;
    }

    .letter-xl-spacing-16 {
        letter-spacing: 1.6px;
    }

    .letter-xl-spacing-22 {
        letter-spacing: 2.2px;
    }

    .letter-xl-spacing-4 {
        letter-spacing: 4px;
    }

    .letter-xl-spacing-86 {
        letter-spacing: 8.6px;
    }

    .letter-xl-spacing-96 {
        letter-spacing: 9.6px;
    }
}


.custom-border-end {
    border-right: 1px solid var(--bs-secondary);
}